* {
  margin: 0;
  padding: 0;
}
body{
  background: whitesmoke;
}
main {
  margin-left: 40%;
  padding-top: 2%;
  & div {
    margin-top: 1%;
    & li {
      font-size: 30px;
    }
    & .just {
      text-decoration: none;
    }
  }
}
